@use "~@bu0nq/asset-scss-function/function";

$min-breakpoint: 960px !default;
$max-breakpoint: 1440px !default;

$min-column-size: 80px !default;
$max-column-size: 120px !default;
$mix-column-size: function.getClamp($min-column-size, $max-column-size, $min-breakpoint, $max-breakpoint);

$min-gutter: 20px !default;
$max-gutter: 30px !default;
$mix-gutter: function.getClamp($min-gutter, $max-gutter, $min-breakpoint, $max-breakpoint);

$min-column-size-01: function.getGridColumnSize($min-column-size, $min-gutter, 1);
$max-column-size-01: function.getGridColumnSize($max-column-size, $max-gutter, 1);
$mix-column-size-01: function.getClamp($min-column-size-01, $max-column-size-01, $min-breakpoint, $max-breakpoint);

$min-column-size-02: function.getGridColumnSize($min-column-size, $min-gutter, 2);
$max-column-size-02: function.getGridColumnSize($max-column-size, $max-gutter, 2);
$mix-column-size-02: function.getClamp($min-column-size-02, $max-column-size-02, $min-breakpoint, $max-breakpoint);

$min-column-size-03: function.getGridColumnSize($min-column-size, $min-gutter, 3);
$max-column-size-03: function.getGridColumnSize($max-column-size, $max-gutter, 3);
$mix-column-size-03: function.getClamp($min-column-size-03, $max-column-size-03, $min-breakpoint, $max-breakpoint);

$min-column-size-04: function.getGridColumnSize($min-column-size, $min-gutter, 4);
$max-column-size-04: function.getGridColumnSize($max-column-size, $max-gutter, 4);
$mix-column-size-04: function.getClamp($min-column-size-04, $max-column-size-04, $min-breakpoint, $max-breakpoint);

$min-column-size-05: function.getGridColumnSize($min-column-size, $min-gutter, 5);
$max-column-size-05: function.getGridColumnSize($max-column-size, $max-gutter, 5);
$mix-column-size-05: function.getClamp($min-column-size-05, $max-column-size-05, $min-breakpoint, $max-breakpoint);

$min-column-size-06: function.getGridColumnSize($min-column-size, $min-gutter, 6);
$max-column-size-06: function.getGridColumnSize($max-column-size, $max-gutter, 6);
$mix-column-size-06: function.getClamp($min-column-size-06, $max-column-size-06, $min-breakpoint, $max-breakpoint);

$min-column-size-07: function.getGridColumnSize($min-column-size, $min-gutter, 7);
$max-column-size-07: function.getGridColumnSize($max-column-size, $max-gutter, 7);
$mix-column-size-07: function.getClamp($min-column-size-07, $max-column-size-07, $min-breakpoint, $max-breakpoint);

$min-column-size-08: function.getGridColumnSize($min-column-size, $min-gutter, 8);
$max-column-size-08: function.getGridColumnSize($max-column-size, $max-gutter, 8);
$mix-column-size-08: function.getClamp($min-column-size-08, $max-column-size-08, $min-breakpoint, $max-breakpoint);

$min-column-size-09: function.getGridColumnSize($min-column-size, $min-gutter, 9);
$max-column-size-09: function.getGridColumnSize($max-column-size, $max-gutter, 9);
$mix-column-size-09: function.getClamp($min-column-size-09, $max-column-size-09, $min-breakpoint, $max-breakpoint);

$min-column-size-10: function.getGridColumnSize($min-column-size, $min-gutter, 10);
$max-column-size-10: function.getGridColumnSize($max-column-size, $max-gutter, 10);
$mix-column-size-10: function.getClamp($min-column-size-10, $max-column-size-10, $min-breakpoint, $max-breakpoint);

$min-column-size-11: function.getGridColumnSize($min-column-size, $min-gutter, 11);
$max-column-size-11: function.getGridColumnSize($max-column-size, $max-gutter, 11);
$mix-column-size-11: function.getClamp($min-column-size-11, $max-column-size-11, $min-breakpoint, $max-breakpoint);

$min-column-size-12: function.getGridColumnSize($min-column-size, $min-gutter, 12);
$max-column-size-12: function.getGridColumnSize($max-column-size, $max-gutter, 12);
$mix-column-size-12: function.getClamp($min-column-size-12, $max-column-size-12, $min-breakpoint, $max-breakpoint);
